---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import DownloadApp from "../components/DownloadApp.astro";
import ContactUs from "../components/ContactUs.astro";
import Footer from "../components/Footer.astro";

import { Image } from "astro:assets";

import left_blob from "../assets/background_blob_left.svg";
import right_blob from "../assets/background_blob_right.png";

const scaleFactor = 0.8;
const right_blob_width = right_blob.width;
const right_blob_height = right_blob.height;

const rightBloblWidthChange = (right_blob_width * scaleFactor) / 4;
const rightBloblHeightChange = (right_blob_height * scaleFactor) / 4;

console.log(right_blob_width * 0.8);
console.log(right_blob_height * 0.8);
---

<Layout title="Welcome to Astro.">
  <Image
    class=`z-[-1] max-w-[60%] top-0 right-0 absolute object-contain m-0 p-0 border-0 border-violet-800`
    src={right_blob}
    widths={[right_blob.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${right_blob.width}px`}
    alt="A description of my image."
  />

  <Image
    class="absolute z-[-1] flex max-lg:top-[150%] top-[100%] left-0 object-cover border-0 border-violet-800"
    src={left_blob}
    widths={[left_blob.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${left_blob.width}px`}
    alt="A description of my image."
  />
  <Header />
  <main class="max-container padding-x border-0 my-16 border-red-700 w-full bg-transparent">
    <Hero />
    <Features />
    <DownloadApp />
    <ContactUs />
    <Footer />
  </main>
</Layout>
