<section id="_contactus" class="border-2 flex flex-row h-24 border-red-800 w-full">
  <div class="border-blue-800">
    <div class="flex shadow-xl rounded-lg flex-col">
      <h1>You have a question?</h1>
      <span>Have something to share with us?</span>
      <p>Please feel free send us a message and will read as soon as possible!</p>
    </div>
  </div>
  <div class="border-green-800 flex-col">
    <input type="text" />
  </div>
</section>
