---
import FeatureCard from "./FeatureCard.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="features" class="flex flex-1 mt-20 lg:mt-20 flex-wrap gap-6 justify-center py-20 items-start w-full border-0 border-red-800">
  <FeatureCard title={t("features.title.explore")} desc={t("features.desc.explore")} icon="explore-icon" />
  <FeatureCard title={t("features.title.connect")} desc={t("features.desc.connect")} icon="group-icon" />
  <FeatureCard title={t("features.title.memories")} desc={t("features.desc.memories")} icon="polaroids-icon" />
  <FeatureCard title={t("features.title.shareidea")} desc={t("features.desc.shareidea")} icon="clipboard-icon" />
  <FeatureCard title={t("features.title.tourist")} desc={t("features.desc.tourist")} icon="language-icon" />
</section>
