---
import "../styles/global.css";
import "../../public/styles.css";

import { getLangFromUrl } from "../i18n/utils";

interface Props {
  title: string;
}

const lang = getLangFromUrl(Astro.url);
const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!--   <link rel="apple-touch-icon" sizes="16x16" href="/site_logo.png" />
    <link rel="icon" type="image/svg+xml" href="/site_logo.svg" />
    <link rel="icon" type="image/png" href="/site_logo.png" />
    <link rel="icon" type="image/x-icon" href="/site_logo.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="mask-icon" href="site_logo.svg" color="#000000" /> -->

    <!--     <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="mask-icon" href="favicon.svg" color="#000000" />

    <link rel="preload" href="/fonts/inter/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

    <link rel="preload" href="/_astro/app_explore_memories.Ccz3ZaDc_1gQojn.webp" as="image" type="image/webp" />
    <link rel="preload" href="/_astro/background_blob_left.Be36CIK0_Z1vdsNg.svg" as="image" type="image/svg" />
    <link rel="preload" href="/_astro/background_blob_right.ttfU8S75_Z1o5mXQ.svg" as="image" type="image/svg" />
    <link rel="preload" href="/_astro/screen_gif.D8CklHbe_1eLJFh.webp" as="image" type="image/webp" /> -->

    <!-- for github pages -->
    <link rel="icon" href="/brendo-website/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/brendo-website/apple-touch-icon.png" />
    <link rel="mask-icon" href="favicon.svg" color="#000000" />

    <link rel="preload" href="/brendo-website/fonts/inter/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/brendo-website/fonts/inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/brendo-website/fonts/inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

    <link rel="preload" href="/brendo-website/_astro/app_explore_memories.Ccz3ZaDc_1gQojn.webp" as="image" type="image/webp" />
    <link rel="preload" href="/brendo-website/_astro/background_blob_left.Be36CIK0_Z1vdsNg.svg" as="image" type="image/svg" />
    <link rel="preload" href="/brendo-website/_astro/background_blob_right.ttfU8S75_Z1o5mXQ.svg" as="image" type="image/svg" />
    <link rel="preload" href="/brendo-website/_astro/screen_gif.D8CklHbe_1eLJFh.webp" as="image" type="image/webp" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="select-none flex flex-col relative border-green-800 border-0">
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: inter;
  }
  code {
    font-family: inter;
  }
</style>
